example/
.idea/

*.tfvars
*.tfbackend

.terraform/

04-applications/03-external-secrets-operator/eso/02-in-namespace/.env
*.local
kubeconfig*
.DS_Store
target/
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.sln
*.sw?

/target
.claude/